<header>
    <a class="topBARcommands_logo" routerLink="/">
        <img class="logo" src="assets\img\LOGO.svg">
    </a>
    <div class="topBARcommands_searchbar">
        <input type="text" name="text" class="searchBarInput" placeholder="Pesquisar...">
    </div>

    <div class="topBARcommands_buttons">
        <a href="#" class="iconTopLink">
            <img src="assets\img\marketicon.png" class="iconTopImage">
        </a>
        <a routerLink="/login" class="iconTopLink">
            <img src="assets\img\profileicon.png" class="iconTopImage">
        </a>
    </div>

</header>