/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    width: 1200px;
    margin: 0 auto;
}

/* .container {
    max-width: 1200px;
} */


